header {
    border: solid 1px black;
}

/* Convert the ul in the navigation element into a series of horizontal links with # as the href value, without bullets, and have some space between them horizontally. */
header ul li {
    display: inline-block;
    list-style: none;
    padding-left: 1em;
}

/*4. Any text in an element with class "disabled" should be colored grey, unless it is inside an anchor tag. If inside an anchor, it should be colored purple.
5. Any text inside an element with a class of "active" should be colored yellow.*/

.disabled {
    color: grey;
}

.active {
    color: yellow;
}

a .disabled {
    color: purple;
}

/* Make the "I'm red" text colored red.
Make the "I'm blue" text colored blue.
The sibling h4 of the red element should have a background color of red.
The sibling h4 of the blue element should have background color of blue. */

div.parent > div > div:first-child {
    color: red;
}

div.parent > div > h4:nth-child(2) {
    background-color: red;
}

div.parent > div > div:nth-child(3) {
    color: blue;
}

div.parent > div > h4:nth-child(4) {
    background-color: blue;
}

/*Any h4 that is a direct child of grandparent should have a 1px border with rounded corners.
Elements with a class of promo should have bold text that is also colored gold.
Without adding any other attributes to the input fields in the footer, write a CSS selector that makes any text input field have a height of 25px.*/

.grandparent > h4 {
    border: solid 1px black;
    border-radius: 10px;
}

.promo {
    font-weight: bold;
}

input[type="text"] {
    height: 25px;
}