header {
    border: solid 1px black;
}

/* Convert the ul in the navigation element into a series of horizontal links with # as the href value, without bullets, and have some space between them horizontally. */
header ul li {
    display: inline-block;
    list-style: none;
    padding-left: 1em;
}